body {
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.username {
    color: #57575f;
    font-weight: bold;
    text-decoration: none;
    &::before {
        content: "@";
        color: #87879D;
        font-weight: lighter;
    }
}

.logo {
      -webkit-mask: url(../svg/twister.svg);
      background-color: #09c1d1;
      width: 110px;
      height: 95px;
      display: inline-block;
}
