.posts {
    position: relative;
    padding: 20px 0;
    
    &.line::before {
        content: "";
        height: 100%;
        width: 4px;
        position: absolute;
        left: 32px;
        top: 0;
        background-color: #c9e9ec;
        border-radius: 4px;
    }

    .post {
        color: #605e58;
        position: relative;
        display: flex;
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 26px;
        &.retwist span.retwist-icon {
          width: 15px;
          height: 15px;
          display: inline-block;
          -webkit-mask: url(../svg/retwist.svg);
          background-color: #91C348;
          vertical-align: middle;
          margin-right: 5px;
          margin-top: -1px;
        }

        .icon {
            background-color: #09c1d1;
            border-radius: 100%;
            flex: 0 0 68px;
            height: 68px;
            margin-right: 20px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
        &.post .icon {
            background-color: #09c1d1;
            background-image: url(../img/icon-post.png);
        }
        &.reply .icon {
            background-color: #7e50bd;
            background-image: url(../img/icon-reply.png);
        }
        &.retwist .icon {
            background-color: #4fb547;
            background-image: url(../img/icon-retwist.png);
        }
        .avatar {
            flex: 0 0 68px;
            margin-right: 20px;
            height: 68px;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
            }
        }
        .content {
            font-family: Georgia;
            flex: 1;
            word-wrap: break-word;
            &:hover .date {
                display: block;
            }
            & > .username {
                font-family: 'Open Sans';
                font-size: 20px;
                color: #444444;
                font-weight: 500;
                &::before {
                    font-size: 18px;
                }
            }
            .date {
                display: none;
                font-size: 16px;
                position: absolute;
                font-weight: lighter;
                right: 20px;
                top: 0;
                float: right;
                color: #BEBEBE;
                font-family: 'Open Sans';
            }
            p {
                color: #666;
                a {
                    color: #444;
                    text-decoration: none;
                    font-weight: normal;
                }
            }
            .emoji {
                width: 20px;
                margin-bottom: -5px;
            }

        }
    }
    
    .replies.posts {
        margin-left: 88px;
        &.line::before {
            left: 26px;
        }
        .post {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 30px;
            .avatar {
                flex: 0 0 56px;
                height: 56px;
            }
        }
    }
}

.post-detail > .posts > .post {
    margin-bottom: 30px;
}
