.load-animation {
    width: 68px;
    height: 68px;
    -webkit-mask: url(../svg/oval.svg);
    background-color: #87CDD3;
    margin-bottom: 50px;
}

.feed {
}

/*
.compose {
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
    background-color: @foreground-color;
    padding: 20px;
    color: #605e58;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;


    .replying-to {
        font-size: 14px;
        font-style: italic;
        color: #BDBDBD;
    }
    

    div.info {
        margin-top: 5px;
        display: none;
        span {
            font-size: 13px;
            color: #AEA89F;
            line-height: 30px;
        }
        button {
            float: right;
            background-color: #80A8CC;
            border: 0;
            color: #fff;
            padding: 0 11px;
            font-size: 15px;
            line-height: 30px;
            right: 0;
        }
    }
}
*/

.feed {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    .days-ago {
        padding: 20px 7px;
        font-size: 20px;
        color: #888;
    }
}
