@foreground-color: #FDFDFD;
@background-color: #F4F4F4;
@emphasis-color: #80A8CC;
@emphasis-color-dark: #7B7B7B;

@import "reset.less";
@import "fonts.less";
@import "common.less";
@import "form.less";
@import "layout.less";
@import "overlay.less";
@import "accounts-overlay.less";
@import "main-menu.less";
@import "section-context.less";
@import "section-content.less";
@import "section-preview.less";
@import "status.less";
@import "posts.less";
@import "feed.less";
@import "post-detail.less";
@import "context-feed.less";
@import "user-detail.less";
@import "preview-post.less";

.notyetimplemented {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: calc(~"100% - 40px");

    h2 { margin-bottom: 25px }
}

