#main-menu {
    margin: 0;
    background-color: #C9E9EC;
    z-index: 2;
    -webkit-user-select: none;
    display: flex;
    justify-content: space-between;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            float: left;
            a {
                -webkit-app-region: no-drag;
                display: block;
                padding: 12.5px 25px;
                text-decoration: none;
                text-align: center;
                font-size: 15px;
                line-height: 15px;
                color: #333333;
                &:hover {
                    padding: 12.5px 25px 9.5px 25px;
                    border-bottom: 3px solid #326de6;
                }
                &.status {
                    padding: 12.5px;
                    &:hover {
                        padding: 12.5px;
                        border-bottom: 0;
                    }
                    span {
                        width: 15px;
                        height: 15px;
                        background-color: #44e14b;
                        display: inline-block;
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}
