@foreground-color: #FDFDFD;
@background-color: #F4F4F4;
@emphasis-color: #80A8CC;
@emphasis-color-dark: #7B7B7B;

@import "reset.less";
@import "fonts.less";
@import "common.less";
@import "form.less";
@import "layout.less";
@import "overlay.less";
@import "accounts-overlay.less";
@import "main-menu.less";
@import "section-context.less";
@import "section-content.less";
@import "section-preview.less";
@import "content-posts.less";
@import "content-feed.less";
@import "context-feed.less";
@import "context-user.less";
@import "preview-post.less";

#window-controls {
    -webkit-app-region: no-drag;
    position: fixed;
    right: 0;
    width: 112px;
    display: flex;
    z-index: 9;
    top: 0;
    div {
        -webkit-app-region: no-drag;
        height: 18px;
        margin-right: 3px;
        cursor: pointer;
        position: relative;
        z-index: 10;
        color: #9E9992;
        text-align: center;
        line-height: 18px;
        flex-grow: 2;
        vertical-align: middle;
        &:hover {
            opacity: 0.7;
        }
        &.close {
            background-color: #BE6C6C;
            color: #fff;
            font-size: 20px;
            flex-grow: 3;
        }
        &.minimize  {
            &:hover {
                background-color: @emphasis-color;
                span {
                    background-color: #FFF;
                }
            }
            span {
                width: 13px;
                height: 3px;
                background-color: #674A1D;
                display: inline-block;
                position: absolute;
                bottom: 2px;
                left: 6px;
            }
        }
        &.scale {
            &:hover {
                background-color: @emphasis-color;
                span {
                    border: 2px solid #FFF;
                    background-color: @emphasis-color;
                    &:nth-child(2) {
                        background-color: transparent;
                    }
                }
            }
            span {
                width: 7px;
                height: 7px;
                border: 2px solid #674A1D;
                display: inline-block;
                position: absolute;
                bottom: 2px;
                left: 6px;
                background-color: @foreground-color;
                z-index: 1;
                &:nth-child(2) {
                    background-color: transparent;
                    bottom: 5px;
                    left: 9px;
                    z-index: 0;
                }
            }
        }
    }
}
