form {
    &.login {
        margin-top: 30px;

        h2 {
            color: #3C6D9B;
            font-size: 20px;
            padding-bottom: 20px;
        }
    }
}
button {
    line-height: 33px;
    font-family: 'Open Sans', serif;
    margin-bottom: 20px;
    background-color: #6992B8;
    border: 0;
    color: #fff;
    font-size: 15px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
}
input {
    width: 50%;
    line-height: 30px;
    font-family: 'Open Sans', serif;
    margin-bottom: 20px;
    padding: 0 10px;
    display: inline-block;
}
