* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2eee8;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  margin-bottom: 20px;
  font-weight: 800;
  color: #fff;
}
a {
  color: #005CFF;
}
a:visited {
  color: #005CFF;
}
#main-menu {
  width: 100%;
  margin: 0;
  background-color: #fff;
  position: fixed;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
#main-menu .center {
  width: 640px;
  margin: 0 auto;
}
#main-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#main-menu ul.left {
  float: left;
}
#main-menu ul.right {
  float: right;
}
#main-menu ul li {
  float: left;
}
#main-menu ul li:first-child a {
  border: 0;
}
#main-menu ul li a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
  border-left: 1px solid #ccc;
  background-color: #fff;
}
#main-menu ul li a:hover {
  background-color: #F5F5F5;
}
#main-page {
  width: 600px;
  margin: 0 auto;
  padding: 42px 20px 20px 20px;
}
#main-page .post {
  background-color: #fffbf5;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: #605e58;
  position: relative;
}
#main-page .post:first-child {
  border: 0;
}
#main-page .post.retwist span.retwist-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  -webkit-mask: url(../svg/retwist.svg);
  background-color: #91C348;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -1px;
}
#main-page .post .left {
  display: inline-block;
  padding-right: 20px;
  vertical-align: top;
}
#main-page .post .left img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
#main-page .post .right {
  display: inline-block;
  max-width: 465px;
}
#main-page .post .right p {
  color: #605e58;
  font-weight: lighter;
  font-size: 14px;
  margin: 5px 0 0 0;
}
#main-page .post .right p a.username {
  font-weight: normal;
}
#main-page .post .right .date {
  font-size: 14px;
  position: absolute;
  font-weight: lighter;
  right: 20px;
  top: 20px;
  float: right;
  color: #b7b5b4;
  font-family: 'Open Sans';
}
a.username {
  color: #57575f;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}
a.username::before {
  content: "@";
  color: #87879D;
  font-weight: lighter;
}
