* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2eee8;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-bottom: 20px;
    font-weight: 800;
    color: #fff;
}

a {
    color: #005CFF;
    &:visited {
        color: #005CFF;
    }
}

#main-menu {
    width: 100%;
    margin: 0;
    background-color: #FFFBF5;
    position: fixed;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        &.left { 
            float: left;
            a { margin: 15px 0 15px 15px; }
        }
        &.middle { margin: 0 50%; }
        &.right {
            float: right;
            a { margin: 15px 15px 15px 0; }
        }

        li {
            float: left;
            &.border {
                height: 67px;
                width: 1px;
                background-color: #E0E0E0;
            }
            &.bold a {
                background-color: #80A8CC;
                color: #FFFBF5;
                border: 0;
                width: 27px;
                height: 27px;
                line-height: 27px;
                margin: 15px !important;
            }
            a {
                display: block;
                padding: 5px;
                color: #000;
                text-decoration: none;
                width: 25px;
                height: 25px;
                margin: 15px;
                border: 1px solid #E0E0E0;
                border-radius: 25px;
                text-align: center;
                line-height: 25px;
                &:hover {
                    background-color: #F5F5F5;
                }
            }
            input {
                display: block;
                padding: 5px 15px;
                text-decoration: none;
                height: 25px;
                margin: 15px;
                border: 1px solid #E0E0E0;
                border-radius: 25px;
                line-height: 25px;
                background-color: #FFFBF5;
                width: 125px;
                color: #605e58;
                font-weight: lighter;
                font-size: 14px;
                font-family: 'Open Sans';
            }
        }
    }
}

#main-page {
    width: 600px;
    margin: 0 auto;
    padding: 67px 20px 20px 20px;
}

#main-page .posts {
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);

    .post {
        background-color: #fffbf5;
        padding: 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        color: #605e58;
        position: relative;
        &:first-child {
            border: 0;
        }
        &.retwist span.retwist-icon {
          width: 15px;
          height: 15px;
          display: inline-block;
          -webkit-mask: url(../svg/retwist.svg);
          background-color: #91C348;
          vertical-align: middle;
          margin-right: 5px;
          margin-top: -1px;
        }

        .left {
            display: inline-block;
            padding-right: 20px;
            vertical-align: top;
            img {
                width: 60px;
                height: 60px;
                border-radius: 60px;
            }
        }

        .right {
            display: inline-block;
            max-width: 465px;
            p {
                color: #605e58;
                font-weight: lighter;
                font-size: 14px;
                margin: 5px 0 0 0;
                a.username {
                    font-weight: normal;
                }
            }
            .date {
                font-size: 14px;
                position: absolute;
                font-weight: lighter;
                right: 20px;
                top: 20px;
                float: right;
                color: #b7b5b4;
                font-family: 'Open Sans';
            }
        }
    }
}

a.username {
    color: #57575f;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    &::before {
        content: "@";
        color: #87879D;
        font-weight: lighter;
    }
}
