### NodeJS ###
node_modules/
src/node_modules/
npm-debug.log

### Bower ###
src/vendor/bower/

### Windows ###
.DS_Store

### Executables and data files ###
*.dll
*.exe
*.dat
*.pak

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Less ###
*.css

### Custom ###
src/app/avatars/
twister-data/
builds/
cache/
