<ul class="left">
    <li>
        <a class="status" href="status"><span></span></a>
    </li>
    <% if (user) { %>
    <li>
        <a href="user/<%= user.get('username') %>">Profile</a>
    </li>
    <li>
        <a href="feed">Feed</a>
    </li>
    <li>
        <a href="mentions">Mentions</a>
    </li>
    <li>
        <a href="messages">Messages</a>
    </li>
    <% } %>
    <li>
        <a href="settings">Settings</a>
    </li>

    <!-- This has to be in the menu div, outside it is not clickable
         anymore, for some magical reason -->
    <div id="window-controls">
        <div class="window-minimize"><span></span></div> 
        <div class="window-scale"><span></span><span></span></div> 
        <div class="window-close">&times;</div> 
    </div>
</ul>
