<form class="login">
    <h2>Welcome</h2>
    <input placeholder="Username" name="username" />
    <input type="password" placeholder="Private key" name="key" />
    <button>Login</button>
    <p><i>Creating an account is currently not yet possible, use another Twister client to do so.</i></p>
    <!-- Written but not thoroughly tested
    <a class="button-create" href="account/create">No account yet? Create one now</a>
    -->
    <br />
    <a class="button-cancel" href="#">Cancel</a>
</form>
