<% var className = className %>
<% var icon = icon || false %>
<% var isReplying = isReplying || false %>
<% var overwriteUser = overwriteUser || null %>

<div class="post <%= post.getType() %> <%= className %>" data-id="<%=post.id%>">

    <% if (icon || post.getType() == 'compose_reply') { %>
    <div class="icon"></div>
    <% } %>

    <% if (post.getType() != 'compose_reply') { %>
    <div class="avatar">
            <%= (overwriteUser ? overwriteUser : post.get('user')).getAvatarImg() %>
    </div>
    <% } %>

    <% if (post.getType() == 'compose') { %>
        <div class="compose">
            <span class="characters">140 characters left</span>
            <div contenteditable="true" placeholder="Hey @<%=post.get('user').get('username')%>! What's happening?"></div>
        </div>
    <% } else if (isReplying) { %>
        <div class="compose reply">
            <span class="characters">140 characters left</span>
            <div contenteditable="true" placeholder="Reply to @<%= post.get('user').get('username') %>"></div>
        </div>
    <% } else { %>
        <div class="content">
            <div class="top">
                <a class="username" href="/user/<%= post.get('user').get('username') %>"><%= post.get('user').get('username') %></a>

                    <div class="retwisters <%= (post.get('retwisters').length == 0 ? 'empty' : '') %>">
                        <span></span>
                        <% post.get('retwisters').forEach(function (user) { %>
                            <%= user.getAvatarImg(true) %>
                        <% }) %>
                    </div>

                    <div class="lovers <%= (post.get('lovers').length == 0 ? 'empty' : '') %>">
                        <span></span>
                        <% post.get('lovers').forEach(function (user) { %>
                            <%= user.getAvatarImg(true) %>
                        <% }) %>
                    </div>
            </div>

            <span class="date"><%= post.getTimeAgo() %></span>

            <p>
                <%= post.getMessageRegexed() %><br />
            </p>
        </div>
    <% } %>
</div>
