<% var className = className %>
<% var icon = icon || false %>

<div class="post <%= post.getType() %> <%= className %>" data-id="<%=post.id%>">
    <% if (icon) { %>
    <div class="icon"></div>
    <% } %>
    <div class="avatar">
        <% if (post.get('user').get('avatar')) { %>
            <img src="<%= post.get('user').get('avatar') %>" />
        <% } else { %>
            <img src="app/img/profile.jpg" />
        <% } %>
    </div>
    <% if (post.getType() != 'compose') { %>
        <div class="content">
            <a class="username" href="/user/<%= post.get('user').get('username') %>"><%= post.get('user').get('username') %></a></span>
            <span class="date"><%= post.getTimeAgo() %></span>
            <p>
                <%= post.getMessageRegexed() %><br />
            </p>
        </div>
    <% } else { %>
        <div class="compose">
            <span class="characters">140 characters left</span>
            <div contenteditable="true" placeholder="What's happening?"></div>
        </div>
    <% } %>
</div>

