<% var className = className %>
<% var icon = icon || false %>

<div class="post <%= post.getType() %> <%= className %>" data-id="<%=post.id%>">
    <% if (icon) { %>
    <div class="icon"></div>
    <% } %>
    <div class="avatar">
        <%= post.get('user').getAvatarImg() %>
    </div>
    <% if (post.getType() != 'compose') { %>
        <div class="content">
            <div class="top">
                <a class="username" href="/user/<%= post.get('user').get('username') %>"><%= post.get('user').get('username') %></a>
                <% if (post.get('retwisters').length > 0) { %>
                    <div class="retwisters">
                        <a href="#"></a>
                        <% post.get('retwisters').forEach(function (user) { %>
                            <%= user.getAvatarImg() %>
                        <% }) %>
                    </div>
                <% } %>
            </div>

            <span class="date"><%= post.getTimeAgo() %></span>
            <p>
                <%= post.getMessageRegexed() %><br />
            </p>
        </div>
    <% } else { %>
        <div class="compose">
            <span class="characters">140 characters left</span>
            <div contenteditable="true" placeholder="What's happening?"></div>
        </div>
    <% } %>
</div>

