<div class="post-preview">
    <div class="title">
        Post of <a class="username" href="<%= post.get('user').getUrl() %>"><%= post.get('user').get('username') %></a>
    </div>
    <div class="posts top">
        <% 
        var html = '';
        var current = post;
        while (current.get('parent')) {
            html = postTemplate({post: current.get('parent')}) + html;
            current = current.get('parent');
        }
        %>
        <%= html %>
    </div>
    <div class="posts middle">
        <%= postTemplate({post: post, className: 'main'}) %>
    </div>
    <div class="posts bottom">
        <% _.each(post.get('replies'), function (post) { %>
            <%= postTemplate({post: post}) %>
        <% }) %>
    </div>
    <div class="footer">
        <button>More...</button>
    </div>
</div>
