<div class="post-preview">
    <div class="posts">
        <% 
        var html = '';
        var current = post;
        while (current.get('parent')) {
            html = postTemplate({post: current.get('parent')}) + html;
            current = current.get('parent');
        }
        %>
        <%= html %>
        <%= postTemplate({post: post, className: 'main'}) %>
        <% _.each(post.get('replies'), function (post) { %>
            <%= postTemplate({post: post}) %>
        <% }) %>
    </div>
</div>
