<div id="settings-page">
    <h2>Settings</h2>
    <div>
        <div><p>Feed</p></div>
        <div><p><input type="checkbox" id="hide-replies-and-retwists" <% if (hideRepliesAndRetwists) {%>checked="true"<%}%> /> Hide replies and retwists</p></div>
    </div>
    <div>
        <div><p>Network status</p></div>
        <div><p><a href="/status">Go to the network status page</a></p></div>
    </div>
    <div>
        <div><p>Account</p></div>
        <div><p>
            @<%= username %><br />
            <a href="/login">Add account</a><br />
            <a href="/choose-account">Switch account</a>
        </p></div>
    </div>
    <div>
        <div><p>Support</p></div>
        <div><p>For support and connection problems, open an issue at the <a href="https://github.com/ArcoMul/Twisting/issues">Twisting Github repository</a></p></div>
    </div>
</div>
