<div class="user-detail">
    <div class="top">
        <div class="avatar">
            <div class="<%= (user.isFollowedByActiveUser() ? 'following' : 'follow') %>"></div>
            <img class="avatar" src="<%= user.get('avatar') ? user.get('avatar') : user.getDefaultAvatar() %>" />
        </div>
        <div class="user-info">
            <h2 class="username"><%=user.get('username')%> <%= (user.get('fullname') ? '<span class="fullname"> - ' + user.get('fullname') + '</span>' : '') %></h2>
            <p class="stats">
            <% if (user.get('following')) { %>
                Following: <%= user.get('following').length %>
            <% } %>
            </p>
            <% if (user.get('bio') || user.get('location')) { %>
                <p class="about">
                <% if (user.get('bio')) { %>
                    <%= user.get('bio') %><br />
                <% } %>
                <% if (user.get('location')) { %>
                    <%= '<span class="location">' + user.get('location') + '</span>' %>
                <% } %>
                </p>
            <% } %>
        </div>
    </div>

    <div class="posts line">
        <% feed.get('posts').each(function (post) { %>
        <%= postTemplate({post: post, icon: true}) %>
        <% }); %>
    </div>
    <div class="load-animation"></div>
</div>
