<ul class="left">
    <li class="bold">
        <% if (user) { %>
        <a class="user-profile" href="user/<%= user.get('username') %>"></a>
        <% } %>
    </li>
    <li class="border"></li>
    <li>
        <a class="mentions" href="mentions">@</a>
    </li>
    <li>
        <a class="messages" href="messages"><span></span></a>
    </li>
    <li>
        <a class="settings" href="settings"><span></span></a>
    </li>
    <br style="clear: both" />
</ul>
<ul class="middle">
    <li>
        <a class="feed" href="feed"></a>
    </li>
</ul>
<ul class="right">
    <li>
        <input type="text" name="search" placeholder="Search" />
    </li>
    <br style="clear: both" />
</ul>
<br style="clear: both" />
